@charset "utf-8";
/* CSS Document */

.nav link{
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
}

.social-media-fixed-menu-wrapper {
    width: 100%;
    position: fixed; 
    top: 0 ; /*ver para arreglar*/
    left: 0; /*ver para arreglar*/
    z-index: 999; 
    background-color: #f0f0f0; 
    padding: 5px 20px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.social-media-fixed-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
}

.social-media-fixed-menu ul li {
    margin-left: 15px; 
}

.social-media-fixed-menu ul li img {
    width: 30px; 
    height: 30px;
    vertical-align: middle;
}

.social-media-fixed-menu .dropdown {
    display: none; 
    position: absolute; /* O `relative` si quieres que el dropdown aparezca dentro del flujo normal */
    /* top: 100%; */ /* Si es absolute, se posiciona debajo del elemento padre */
    /* right: 0; */ /* Alinea a la derecha */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    /* min-width: 120px; */ /* Ancho mínimo para el dropdown */
}

.social-media-fixed-menu ul li:hover .dropdown {
    display: flex; /* Mostrar al pasar el ratón */
    flex-direction: column; /* Iconos en columna dentro del dropdown */
}

.social-media-fixed-menu .dropdown li {
    margin: 5px 0;
}

body{
    font-family: 'Zilla Slab', serif;
}

.pajarohover img {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    transition: filter 0.3s ease-in-out; 
}

.pajarohover:hover img {
    filter: grayscale(100%);
}


#Actividades {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 20px;
}

.tarjeta-act {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tarjeta-act img {
   width: 100%;
   height: auto;
   display: block;
}

.tarjeta-act h2 {
    background-color: #98C0AB;
    color: black;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    padding: 10px 15px;
    margin: 0;
    font-size: 1.5em;
}

.tarjeta-act p {
    padding: 15px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 0.9em;
    line-height: 1.5;
}

.tarjeta-act .el-boton {
    background-color: #33A152;
    color: white;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
    font-size: 0.9em;
    text-align: center;
    align-self: flex-start;
}