@charset "utf-8";
/* CSS Document */

.nav link{
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
}

.social-media-fixed-menu-wrapper {
    width: 100%;
    position: fixed; 
    top: 0 ; /*ver para arreglar*/
    left: 0; /*ver para arreglar*/
    z-index: 999; 
    background-color: #f0f0f0; 
    padding: 5px 20px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.social-media-fixed-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
}

.social-media-fixed-menu ul li {
    margin-left: 15px; 
}

.social-media-fixed-menu ul li img {
    width: 30px; 
    height: 30px;
    vertical-align: middle;
}

.social-media-fixed-menu .dropdown {
    display: none; 
    position: absolute; /* O `relative` si quieres que el dropdown aparezca dentro del flujo normal */
    /* top: 100%; */ /* Si es absolute, se posiciona debajo del elemento padre */
    /* right: 0; */ /* Alinea a la derecha */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    /* min-width: 120px; */ /* Ancho mínimo para el dropdown */
}

.social-media-fixed-menu ul li:hover .dropdown {
    display: flex; /* Mostrar al pasar el ratón */
    flex-direction: column; /* Iconos en columna dentro del dropdown */
}

.social-media-fixed-menu .dropdown li {
    margin: 5px 0;
}

body{
    font-family: 'Zilla Slab', serif;
}

.pajarohover img {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    transition: filter 0.3s ease-in-out; 
}

.pajarohover:hover img {
    filter: grayscale(100%);
}


#Actividades {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 20px;
}

.tarjeta-act {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tarjeta-act img {
   width: 100%;
   height: auto;
   display: block;
}

.tarjeta-act h2 {
    background-color: #98C0AB;
    color: black;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    padding: 10px 15px;
    margin: 0;
    font-size: 1.5em;
}

.tarjeta-act p {
    padding: 15px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 0.9em;
    line-height: 1.5;
}

.el-boton {
    background-color: #33A152;
    color: white;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
    font-size: 0.9em;
    text-align: center;
    align-self: flex-start;
}





















































































































































































































































































































































































.reservas {
    max-width: 800px; 
    margin: 40px auto 20px auto; 
    text-align: center;
    padding: 0 20px; 
}

#reservas h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 15px;
}

#reservas p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 25px;
}



.flex-container {
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    max-width: 1200px; 
    margin: 30px auto; 
    padding: 0 20px; 
    flex-wrap: wrap; 
}


.columna-izquierda {
    flex: 1; 
    min-width: 300px; 
    background-color: #CCFDE0; 
    padding: 30px;
    flex-basis: 60%; 
    max-width: 700px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.columna-derecha {
    flex: 1; 
    min-width: 300px; 
    background-color: #98C0AB; 
    padding: 30px;
    flex-basis: 30%; 
    max-width: 350px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

#mapita-izq h2,
#derecha-llegar h2 {
    color: black;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 20px;
}

#mapita-izq p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

#mapita-izq img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.map-buttons {
    display: flex; 
    gap: 15px; 
    margin-top: 10px; 
    flex-wrap: wrap; 
    justify-content: center; 
}

#derecha-llegar p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}













#miniaturas {
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 900px; 
    margin: 0 auto; 
}

#miniaturas img {
    width: 100%; 
    height: auto;
    display: block; 
    object-fit: cover; 
    aspect-ratio: 1 / 1; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out; 
}

#miniaturas img:hover {
    transform: scale(1.05); 
}


#galeria {
    display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}


.close {
	position: absolute;
	top: 10px;
	right: 2%;
}


#foto-1 {
	background-image: url("img/galeria-1.jpg");
}

#foto-2 {
	background-image: url("img/galeria-2.jpg");
}

#foto-3 {
	background-image:url("img/galeria-3.jpg");
}

#foto-4 {
	background-image:url("img/galeria-4.jpg");
}

#foto-5 {
	background-image:url("img/galeria-5.jpg");
}

#foto-6 {
	background-image:url("img/galeria-6.jpg");
}

#foto-7 {
	background-image:url("img/galeria-7.jpg");
}

#foto-8 {
	background-image:url("img/galeria-8.jpg");
}

#foto-9 {
	background-image:url("img/galeria-9.jpg");
}

#foto-10 {
	background-image: url("img/galeria-10.jpg");
}

#foto-11 {
	background-image: url("img/galeria-11.jpg");
}

#foto-12 {
	background-image:url("img/galeria-12.jpg");
}

#foto-13 {
	background-image:url("img/galeria-13.jpg");
}

#foto-14 {
	background-image:url("img/galeria-14.jpg");
}

#foto-15 {
	background-image:url("img/galeria-15.jpg");
}

#foto-16 {
	background-image:url("img/galeria-16.jpg");
}

#foto-17 {
	background-image:url("img/galeria-17.png");
}

#foto-18 {
	background-image:url("img/galeria-18.jpg");
}

#foto-19 {
	background-image: url("img/galeria-19.jpg");
}

#foto-20 {
	background-image: url("img/galeria-20.jpg");
}

#foto-21 {
	background-image:url("img/galeria-21.jpg");
}

#foto-22 {
	background-image:url("img/galeria-22.jpg");
}

#foto-23 {
	background-image:url("img/galeria-23.jpg");
}

#foto-24 {
	background-image:url("img/galeria-24.jpg");
}

#foto-25 {
	background-image:url("img/galeria-25.jpg");
}

#foto-26 {
	background-image:url("img/galeria-26.png");
}

#foto-27 {
	background-image:url("img/galeria-27.jpg");
}

#foto-28 {
	background-image: url("img/galeria-28.jpg");
}

#foto-29 {
	background-image: url("img/galeria-29.jpg");
}

#foto-30 {
	background-image: url("img/galeria-30.jpg");
}

#foto-31 {
	background-image:url("img/galeria-31.jpg");
}

#foto-32 {
	background-image:url("img/galeria-32.jpg");
}

#foto-33 {
	background-image:url("img/galeria-33.jpg");
}

#foto-34 {
	background-image:url("img/galeria-34.jpg");
}

#foto-35 {
	background-image:url("img/galeria-35.jpg");
}

#foto-36 {
	background-image:url("img/galeria-36.jpg");
}

#foto-37 {
	background-image:url("img/galeria-37.jpg");
}

#foto-38 {
	background-image:url("img/galeria-38.jpg");
}

#foto-39 {
	background-image:url("img/galeria-39.jpg");
}

#foto-40 {
	background-image:url("img/galeria-40.jpg");
}


#foto-41 {
	background-image:url("img/galeria-41.jpg");
}

#foto-42 {
	background-image:url("img/galeria-42.jpg");
}

#foto-43 {
	background-image:url("img/galeria-43.jpg");
}

#foto-44 {
	background-image:url("img/galeria-44.jpg");
}

#foto-45 {
	background-image:url("img/galeria-45.jpg");
}

#foto-46 {
	background-image:url("img/galeria-46.jpg");
}

#foto-47 {
	background-image:url("img/galeria-47.jpg");
}

#foto-48 {
	background-image:url("img/galeria-48.jpg");
}

#foto-49 {
	background-image:url("img/galeria-49.jpg");
}

#foto-50 {
	background-image:url("img/galeria-50.jpg");
}

#fondo-galeria {
	background-color: #000000;
	opacity: 0.9;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}